@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color-primary: #000;
  --text-color-secondary: #9CA3AF;
  --bg-color-primary: #FFF;
  --bg-color-secondary: #E1E3E4;
  --bg-color-tertiary: #0058BC;
  --font-size-base: 16px;
  --font-weight-light: 300;
  --font-weight-base: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --spacing-default: 16px;
  --bd-radius: 8px;
}

body {
  width: 100%;
  min-height: 100vh;
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-base);
  color: var(--text-color-primary);
  background-color: var(--bg-color-primary);
  padding: var(--spacing-default);
  font-family: 'Inter', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

hr {
  border: none;
  outline: none;
  height: 1px;
  background-color: var(--bg-color-secondary);
}

button {
  cursor: pointer;
  background-color: var(--bg-color-tertiary);
  color: var(--bg-color-primary);
  padding: var(--spacing-default);
  border: none;
  border-radius: var(--bd-radius);
}